name: Production Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    name: Build Binary
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Generate requirements.txt
        run: uv export --no-hashes --format requirements-txt --output-file requirements.txt


      - name: Build with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: main.py
          mode: onefile
          include-data-dir: assets=assets
          output-dir: build
          output-file: ZypE_${{ github.event.release.tag_name }}.exe


      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: build/ZypE_${{ github.event.release.tag_name }}.exe
          if-no-files-found: error


  changelog:
    name: Generate Changelog
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install git-cliff
        uses: taiki-e/install-action@git-cliff
      - name: Generate Changelog
        run: git-cliff --latest --strip header --output CHANGELOG.md
      - name: Update Release Body
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG.md
          tag_name: ${{ github.event.release.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: Publish Assets
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: ./dist
      - name: Upload to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/ZypE_${{ github.event.release.tag_name }}.exe
          tag_name: ${{ github.event.release.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}